.genre-container {
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  transition: all ease-in-out 250ms;
  cursor: pointer;
  overflow-x: scroll;
}
.genre-container button {
  padding: 1rem;
}
.genre-container button:hover {
  transform: scale(1.05);
}
